	<div style="float:left;margin-right:10px;">
	<table width="350px" cellspacing="1" cellpadding="5" border= 1px solid #5a90cc> 
		<tr>
			<td>Year Built</td><td>: </td><td>2013</td>
		</tr>
		<tr>
			<td>Finished Area</td><td>: </td><td>2300 sqf</td>
		</tr>
		<tr>
			<td>Bedrooms</td><td>: </td><td>3</td>
		</tr>
		<tr>
			<td>Baths</td><td>: </td><td>3</td>
		</tr>
		<tr>
			<td>Basement</td><td>: </td><td>Crawl Space</td>
		</tr>
		<tr>
			<td>Air</td><td>: </td><td>Central</td>
		</tr>
		<tr>
			<td>Exterior</td><td>: </td><td>Wood</td>
		</tr>
		<tr>
			<td>Garage/Parking</td><td>: </td><td>Attached Garage</td>
		</tr>
		<tr>
			<td>Water/Lake</td><td>: </td><td>Lake View,Channel Shore</td>
		</tr>
	</table>
	</div>
	<div style="width:190px;float:left;margin-right:10px;">
		<table width="190px" cellspacing="1" cellpadding="5" border= 1px solid #5a90cc> 
		<tr style="background-color:black ;color:#FFF;"><td colspan="2">Rooms Dimensions</td></tr>
		<tr>
			<td>Family Room</td><td>24 x 11 - Main</td>
		</tr>
		<tr>
			<td>Dining Room</td><td>12 x 11 - Main</td>
		</tr>
		<tr>
			<td>Kitchen Room</td><td>12 x 11 - Main</td>
		</tr>
		<tr>
			<td>Bed Room</td><td>15 x 11 - Main</td>
		</tr>
		</table>
	</div>