<ol>
<a href="#"><img src="images/gallery/main-flat.jpeg" alt="main flat" width="100" height="100"></a>

<a href="#"><img src="images/gallery/living.jpeg" alt="living room" width="100" height="100"></a>

<a href="#"><img src="images/gallery/kitchen.jpeg" alt="kitchen" width="100" height="100"></a>

<a href="#"><img src="images/gallery/bed-room1.jpeg" alt="bed room" width="100" height="100"></a>

<a href="#"><img src="images/gallery/pool.jpeg" alt="Swimming pool" width="100" height="100"></a>
</ol>